#content1_booknow {
	margin-top: 130px;
	text-align: center;
	padding: 0 20%;
	line-height: 15px;
}

#content1_booknow p:nth-child(2) {
	margin: 7px 0 40px;
	line-height: 24px;
    
}

.form_title {
	font-weight: bold;
	font-size: 0.7em;
	margin-bottom: 5px;
}

select {
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("img/downarrow.jpg");
	background-position: 299px 15px;
	background-repeat: no-repeat;
	background-size: 13px 5px;
	border-radius: 0;
	background-color: #ffffff;
}

input, select, textarea {
	border: none;
    box-sizing: border-box;
	outline:none;
	width: 320px;
	overflow: hidden; 
	margin-bottom: 30px;
	font: 500 0.7em 'Lato', sans-serif;
	letter-spacing: 1px;
	padding: 10px 12px;	
	border-radius: 0;
}

textarea {
	height: 150px;	
	-webkit-appearance:textarea;	
}

textarea {
    overflow: auto;
    vertical-align: top;
	resize: vertical;
}

#submit_btn {
	border: 1px solid #333;
	background: none;
	color: #ffffff;
	padding: 10px 20px;
	margin-bottom: 100px;
}

#submit_btn:hover {
	transition: 0.2s ease-in-out;
	border: none;
	font-weight: 400;
	border: 1px solid #333;
	color: #333;
	cursor: pointer;
}

@media only screen and (max-width: 414px) {
	#content1_booknow p:nth-child(2) {
		line-height: 23px;
	}
	
	#content1_booknow {
		padding: 0 8%;
	}
	input, select, textarea {
		width: 250px;
	}
	#submit_btn {
		padding: 13px 25px;
	}
}

@media only screen and (max-width: 320px) {
	select {
		background-position: 230px 15px;
	}
}

